h2 {
  margin: 0 0 30px;
}
.portfolio-section {
  padding-top: 60px;
  height: 100vh;
}
@media (min-width: 992px){
  hr {
    width: 100%;
    height: 5px;
    background-color: #AF3E52;
  }
}
@media (min-width: 640px) {
  .portfolio-section {
    padding-top: 70px;
  }
   
}
@media (min-width: 993px) {
  .portfolio-section {
    padding-top: 70px;
  }
   
}
.ml12 {
  font-weight: 400;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.ml12 .letter {
  display: inline-block;
  line-height: 1em;
  word-wrap: break-word;
}
#contact {
  background-color: #9A878B;
}
spam{
  font-family: 'Raleway', sans-serif;
}
p{
  font-family: 'Kanit', sans-serif;
}
h1{
  font-family: 'Acme', sans-serif;
}
h2{
  font-family: 'Mali', cursive;
} 
.card-panel{
  width: 380px;
  margin-left: 20em;
}
.card {
  position: relative;
  margin: 0 0 2em;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #DFDFDF;
  border-radius: 2px;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transition: all 0.3s ease-out;
}
.imgSkills{
  width: 6em;
  height: 6em;
  margin: 3em;
}
.ft-me{
  margin: 5px;
  border-radius: 10em;
}

nav {
  background-color: #AF3E52;
}

.slider {
  width: 75%;
  margin: auto;
}
.info{
  width: 50%;
  margin: 0%;
  padding: 0%;
}
.carousel .carousel-item {
  width: 50%;
  height: 50%;
}

div.space{
  margin-bottom:700px
}

/* added 1/24/17 */
.active{
  font-weight: 700;
}